<!DOCTYPE html>
<html>
<head>
	<title>Projects Showcasing</title>
	<!-- CSS link from Bootstrap cdn-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<br>
<div class="container">
<div class = "row">
	<div class = "col-md">
		
         <nav class="navbar navbar-light bg-light">
			  <a class="navbar-brand" href=" /">
			    <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Yin_yang.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			    Main Resume
			  </a>
			  <a class="navbar-brand" href="/vlog/">
			    vlog
			  </a>
			  <a class="navbar-brand" href="/upload/">
			    Upload Project
			  </a>
		</nav>

		<hr>
		<div class = "card card-body">
			<a href="projects/" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Projects</a>
			
		</div>
		<div class="card card-body">
			<table class="table">
				<tr class="table-primary">
					<th>Project Name</th>
					<th>Git Repo</th>
		        <th>Create Date</th> 
		        <th>Project Picture</th>
				</tr>
				{% for i in projects %}
					<tr class="table-info">
					<td>{{i.name}} 
                         <center>
                       <div class="btn-group"> <!--  this section is used for edit & delete project -->
                       <a href="update/{{i.id}}" class="btn btn-warning" id = '{{i.id}}'>edit</a> 
                       <a href="delete/{{i.id}}" class="btn btn-danger" id = '{{i.id}}'>delete</a>
                       </div>

                      <!-- <a href="delete/{{i.id}}" class="btn btn-danger" id = '{{book.id}}'>delete</a> -->
                        </center>
					</td>
					<td>
						<button type="button" class="btn btn-link">
				            <a href="{{i.gitrepo}}" role="link" aria-disabled="true"> {{i.gitrepo}} </a>
				        </button>  
						<!--	
						<a href="{{i.gitrepo}}" role="link" aria-disabled="true">link</a> 
					    <button type="button" class="btn btn-link">{{i.gitrepo}}
				         </button>  -->
						</td>
				   <td>{{i.date_created}}</td> 
				   <td>
				   	<div class="card" style="width: 18rem;">
				   	<img class="card-img-top" src="{{ i.picture.url }}">
				   </div>
				   </td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>

</body>
</html>